.page-home {
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-search {
  margin-bottom: 35px;
}

app-input {
  position: relative;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-card-country {
  height: 350px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.08);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

app-card-country, 
.hidden {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  height: 1px  !important;
  margin-bottom: 0;
}


.mat-spinner::ng-deep circle {
  stroke: var(--color-spinner);
}

mat-spinner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: tranlateX(-50%);
}