.page-home {
  padding: 30px 66px;
}

.cards-list {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: flex;
}

app-card-country {
  margin-bottom: 50px;
  width: 320px;
  height: 400px;
  overflow: hidden;
}


