.page-home {
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-search {
  margin-bottom: 35px;
}

app-input {
  position: relative;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-card-country {
  overflow: hidden;
  height: 350px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}



