.detail-page {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--forground-primary);
  position: relative;
}

.detail-header {
  margin-bottom: 50px;
}

.flag {
  width: 100%;
  height: 250px;
}

.detail-title {
  font-size: 22px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.sub-title {
  font-size: 15px;
  color: var(--color-gray-2);
}

.lists {
  display: flex;
}

.list {
  list-style: none;
}

.item-info {
  font-size: 13px;
  color: var(--color-gray-1);
}

.item-info:not(:last-child) {
  margin-bottom: 6px;
}

.detail-footer {
  margin-top: 15px;
}

.footer-title {
  font-size: 18px;
}

.borders {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
}

app-button {
  margin-right: 5px;
  margin-bottom: 8px;
}

.mat-spinner::ng-deep circle {
  stroke: var(--color-spinner);
}

mat-spinner {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.info-pal {
  text-align: left;
  font-size: 18px;
}

/* style for directive MoveRight */

.borders {
  position: relative;
  overflow: hidden;
}

.hide {
  position: absolute;
  right: 300px;
  opacity: 0;
}

.show {
  animation: moveInLeft 0.8s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* style for Directive MoveDown */
.down-hide {
  opacity: 0;
  transition: all 5.5s;
}

.down-show {
  animation: moveInTop 0.8s ease-in;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  50% {
    opacity: 0.1;
    transform: translateY(-100px);
  }
  70% {
    opacity: 0.2;
    transform: translateY(10px);
  }
  80% {
    opacity: 0.3;
    transform: translateY(5);
  }
  95% {
    opacity: 0.5;
    transform: translateY(-20px);
  }
  100% {
    box-shadow: none;
    opacity: 1;
    transform: translateY(0);
  }
}
