<div class="card">
  <img class="img" src="https://restcountries.eu/data/pse.svg" alt="flag image" >
  <div class="card-content">
    <h2 class="card-title">Palestine</h2>
    <div class="card-info">
      <ul class="list">
        <li class="item-info"><strong class="sub-title" >Population:</strong> 8682467</li>
        <li class="item-info"><strong class="sub-title" >Region:</strong> Isia</li>
        <li class="item-info"><strong class="sub-title" >Capital:</strong> Al-Quds</li>
      </ul>
    </div>
  </div>
</div>