<a class="card" [routerLink]="['/countries', country.name , 'detail']">
  <img class="img" src="{{ country.flag }}" alt="flag image" />
  <div class="card-content">
    <h2
      class="card-title"
      highlightText
      [searchText]="countryInput"
      [content]="country.name"
      [classes]="'highlight-text'"
    >
      {{ country.name }}
    </h2>
    <div class="card-info">
      <ul class="list">
        <li class="item-info">
          <span class="sub-title">Population:</span>
          {{ country.population }}
        </li>
        <li class="item-info">
          <span class="sub-title">Region:</span> {{ country.region }}
        </li>
        <li class="item-info">
          <span class="sub-title">Capital:</span> {{ country.capital }}
        </li>
      </ul>
    </div>
  </div>
</a>
