<nav class="nav">
  <div
    class="nav-content max-row"
    ngClass.xs="padding-x-1"
    ngClass.sm="padding-x-2"
    ngClass.gt-sm="padding-x-3"
  >
    <a class="logo-link">
      <h1 class="logo">WORLD AROUND</h1>
    </a>
    <div class="nav-right">
      <app-mode-icon></app-mode-icon>
      <button class="btn-account">
        <mat-icon class="nav-btn-icon account-icon">perm_identity</mat-icon>
        account
        <mat-icon class="nav-btn-icon icon-down">arrow_drop_down </mat-icon>
      </button>
    </div>
  </div>
</nav>
