.nav {
  background-color: var(--background-primary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-content {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.logo {
  color: var(--forground-primary);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.452);
}

.logo-link {
  text-decoration: none;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-account {
  height: 30px;
  border: none;
  background: none;
  margin-left: 50px;
  outline: none;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--forground-primary);
}

.account-icon {
  font-size: 30px;
  margin-right: 10px;
  color: var(--forground-primary);
}

.nav-btn-icon {
  color: var(--forground-primary);
}
