.mode-btn {
  border-radius: 15px;
  border: 1px solid transparent;
  background: 0;
  cursor: pointer;
  width: 50px;
  height: 25px;
  position: relative;
  outline: none;
  overflow: hidden;
}
.icon-mode {
  font-size: 15px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.border-dark {
  box-shadow: 0 0 5px #212e37;
}

.border-light {
  box-shadow: 0 0 5px #fff;
}

.icon-box {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: left 3.9s;
}

.icon-box-sun {
  transition: all 3.9s;
  left: 6px;
}

.icon-box-moon {
  transition: all 3.9s;
  right: -2px;
}

.icon-sun {
  color: #fff !important;
}

.icon-moon {
  color: #2b3743;
}

.border-light .icon-sun {
  color: gray !important;
}

.border-dark .icon-moon {
  color: gray !important;
}

.bg-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.bg-icon-dark {
  left: 2px;
  background-color: #2b3743;
}

.bg-icon-light {
  background-color: #fff;
  right: 2px;
}
